@media (min-width:320px) {
    
}
@media (max-width:800px) {

}

html {
    width: 1200px;
}

body {
    background-color: antiquewhite;
    max-width: 800px;
    height: 918px;
    margin-left: auto;
    margin-right: auto;
}

.circle1 {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: indianred;
    position: fixed;
    left: calc(35px + 220px);
    top: 85px;
}
.circle2 {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: indianred;
    position: fixed;
    left: calc(35px + 220px);
    top: 160px;
}
.circle3 {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: indianred;
    position: fixed;
    left: calc(260px + 220px);
    top: 95px;
}
.circle4 {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: rgb(213, 224, 64);
    position: fixed;
    left: calc(140px + 220px)x;
    top: 105px;
}
.circle5 {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: rgb(213, 224, 64);
    position: fixed;
    left: calc(90px + 220px);
    top: 205px;
}
.circle6 {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: indianred;;
    position: fixed;
    left: calc(200px + 220px);
    top: 150px;
}
.triangle1 {
    position:fixed;
    width: 0;
    height: 0;
    border-left: 120px solid transparent;
    border-right: 120px solid transparent;
    border-bottom: 240px solid rgb(4, 98, 21);
    right: 302px;
    top: 164px;
}
.triangle2 {
    position: fixed;
    width: 0;
    height: 0;
    border-left: 60px solid transparent;
    border-right: 60px solid transparent;
    border-bottom: 120px solid rgba(228, 231, 39, 0.921);
    right: 252px;
    top: 285px;
}
.threeboxes {
    display: flex;
}
.painting {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box1 {
    display: flex;
    height: 100px;
    width: 224px;
    margin: 7px;
    background-color: rgb(47, 144, 112);
}

.box2 {
    background-color: rgb(47, 144, 112);
    height: 200px;
    width: 700px;
    margin-top: 1.5%;
}
.box3 {
    background-color: rgb(174, 255, 158);
    margin-top: 1%;
    width: 700px;
    height: 10px;
}

.formsec {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form {
    display: flex;
    flex-direction: column;
    width: 200px;
    justify-content:space-around;
    align-items: center;
    margin-top: 5vh;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.294);
    background-color: bisque;
}
h1 {
    text-align: center;
}